.b1{
    border-radius: 7px;
    
}
body{
    text-align: center;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}
#id{
    border: solid;
}
h1{
    font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #580e27, #606055);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
h2{
    font-weight: 600;
  background-image: linear-gradient(to left, #350616, #312f30f3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
#p1,#p2,#p3{
    background-color: transparent;
    border: transparent;
    font-size: 20px ;
    font-weight: 600;
    text-align: center;
    
}

.b1 {
    font-weight: bolder;
    margin: 10px;
  align-self: center;
  background-color: #ffffff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 2rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.b1:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.b1:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#foothead{
    margin-top: 160px;
    font-size: 50px;
}
#output{
    background-color: transparent;
    border: transparent;
    font-size: 50px ;
    font-weight: 600;
    text-align: center;
}